{
  "presets": [
    [
      "env",
      // { 删除 为了解决 exports is not defined 的错误
      //   "modules": false
      // }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}